@font-face {
  font-family: Phosphate;
  src: url(../assets/fonts/Phosphate.ttc);
  /* IE9 Compat Modes */
}
@font-face {
  font-family: Chalkduster;
  src: url(../assets/fonts/Chalkduster.ttf);
  /* IE9 Compat Modes */
}
* {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #ccb714;
  background-image: url("../assets/images/always-grey.png");
}

.blob.red {
  box-shadow: 0 0 20px rgba(97, 8, 8, 0.575);
  -webkit-animation: pulse-red 3s infinite;
          animation: pulse-red 3s infinite;
}

@-webkit-keyframes pulse-red {
  100% {
    box-shadow: -1px -1px 8px black, 0 0 50px rgba(117, 11, 11, 0.692), inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 20px #02313a;
  }
  50% {
    box-shadow: -1px -1px 8px black, 0 0 10px #ff5252, inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 40px #013744;
  }
  0% {
    box-shadow: -1px -1px 8px black, 0 0 50px rgba(116, 14, 14, 0.712), inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 20px #04475c;
  }
}

@keyframes pulse-red {
  100% {
    box-shadow: -1px -1px 8px black, 0 0 50px rgba(117, 11, 11, 0.692), inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 20px #02313a;
  }
  50% {
    box-shadow: -1px -1px 8px black, 0 0 10px #ff5252, inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 40px #013744;
  }
  0% {
    box-shadow: -1px -1px 8px black, 0 0 50px rgba(116, 14, 14, 0.712), inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black, inset 0 0 20px #04475c;
  }
}
.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-2 {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}

@keyframes fadeIn-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-3 {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@-webkit-keyframes fadeIn-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes -3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  /* margin-top: 0.5em; */
  font-size: 3rem;
  background: rgba(54, 54, 118, 0.2);
  border: 4px solid rgba(114, 16, 16, 0.809);
  border-radius: 20px;
  box-shadow: inset 2px -1px 60px rgba(0, 0, 0, 0.631), 2px 1px 6px black, -1px -1px 16px black;
  margin: 3px 5px;
  padding: 5px;
  margin-bottom: 20px;
}

h3,
.textA .turnStatus {
  background: none;
}

.textA {
  font-family: Phosphate, Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 1px 2px 4px black, 0 0 5px rgba(255, 255, 255, 0.529), -1px 1px 2px rgba(2, 0, 0, 0.343), -1px 0 8px rgba(0, 0, 0, 0.4);
  color: rgba(146, 12, 12, 0.603);
}

h1.textA {
  background: none;
}

span {
  background: none;
}

.container {
  background: rgba(2, 7, 65, 0.316);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 40px black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}

div.container {
  background: none;
}

.player {
  font-family: chalkduster;
  color: transparent;
  font-size: 100px;
  text-shadow: -1px 1px 4px rgba(10, 0, 0, 0.233), 1px 2px 1px rgba(255, 255, 255, 0.644);
}

.board {
  border: 40px solid rgba(189, 180, 51, 0.707);
  border-radius: 20px;
  box-shadow: -5px -5px 4px rgba(215, 216, 135, 0.638), 5px 5px 3px rgba(33, 31, 1, 0.398), inset 1px 1px 10px black;
  padding: 1.1em;
  margin: 1em 3em;
  display: flex;
  flex-wrap: wrap;
  height: 270px;
  width: 327px;
  background: rgba(5, 39, 127, 0.805);
}

.board div {
  height: 9px;
  width: 9px;
  margin: 7px;
  padding: 10px;
  border-radius: 20px;
}

.square {
  background: white;
  border: 1px solid white;
  box-shadow: inset 2px 1px 10px black;
}

/* div .taken {
  display: none;
} */
.taken {
  /* display:none; */
  background: red !important;
}

.turnStatus {
  color: #b4cc177c;
  font-size: 30px;
}

.player-one {
  background-color: red;
  border: 1px solid white;
  box-shadow: inset 2px 1px 10px black;
}

/* div.player-one.taken {
  background: red;
} */
.player-two {
  color: transparent;
  background-color: #d8db18;
  border: 1px solid white;
  box-shadow: inset 2px 1px 10px black;
}

/* div .player-two .taken {
  background: yellow;
} */
div.taken {
  display: none;
}

.restart {
  background: rgba(230, 235, 220, 0.878);
  border: 10px solid #001c97d7;
  border-radius: 40px;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.535), 15px 10px 30px rgba(0, 0, 0, 0.535), 1px 1px 3px rgba(255, 255, 255, 0.521), -1px 1px 3px #070101, inset 0 1px 15px black;
  width: 60vw;
  height: 49vh;
  margin: 18% 19%;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */