/* @font-face {
  font-family: Phosphate;
  src: url(../assets/fonts/Phosphate.ttc);
}
@font-face {
  font-family: Chalkduster;
  src: url(../assets/fonts/Chalkduster.ttf);
} */

body {
  display: inline-flexbox;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  margin: 0;
  /* margin-top: -3.3%; */
  padding: 0;
  -webkit-box-sizing: border-box;
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-shadow:inset 0 0 10px 2px rgb(0, 0, 0), inset 0 0 140px 15px rgb(21, 67, 204);
}
h1 {
  font-size: 3em;
  text-shadow: 5px 3px 20px #680b0b, 1px 1px 10px #e20808, 0px 0px 4px #070101;
  color: #fdffa0bf;
}
h3 {
  opacity: 0.7;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #0f0101, -1px -1px 5px #0f0101, 0px 0px 10px #e2d1d1;
}
a {
  position: relative;
  font-size: 3rem;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  color: rgb(139, 97, 97);
}
a:hover {
  opacity: 0.7;
}
table {
  text-align: center;
  position: relative;
  -webkit-box-shadow: inset 5px 20px 30px rgba(0, 0, 0, 0.535),
    0px 0px 50px rgba(180, 0, 0, 0.535), 1px 1px 3px rgba(255, 255, 255, 0.521),
    -1px 1px 3px #070101, 0px 0px 20px rgba(0, 0, 0, 0.535),
    inset 0 1px 15px black;
  box-shadow: inset 5px 2px 20px 10px rgb(33, 31, 14),
    0px 0px 5px 2px rgb(0, 0, 0), 1px 1px 3px rgba(255, 255, 255, 0.521),
    -1px 1px 3px #070101, 0px 0px 20px 2px rgb(6, 58, 107), inset 0 0 7px 2px black;
  border: 1px solid rgb(211, 232, 18);
  border-radius: 20px;
  padding: 15px;
  max-height: 70vh;
  min-width: 50vw;
  margin: auto;
}
.square {
  background: #888888;
  z-index: -5;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  /* margin: ; */
  border-radius: 50%;
}

.circle {
  z-index: -4;
  position: absolute;
  /* flex-direction: column; */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* margin: 1%; */
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* border-width: 4px; */
  /* border-color: #27ae60; */
  /* border-style: solid; */
  border-radius: 50%;
}
.slot {
  background: #888888;
  width: 100%;
  height: 100%;
  /* margin: 50%; */
  /* padding: 5px; */
  /* -webkit-box-shadow: inset 5px 20px 30px rgba(0, 0, 0, 0.535),
    inset 5px 20px 30px rgba(0, 0, 0, 0.535);
  box-shadow: inset 5px 20px 30px rgba(0, 0, 0, 0.535),
    inset 5px 20px 30px rgba(0, 0, 0, 0.535); */
}

.reset {
   position:absolute;
   width: 20%;
   padding: 2px;
   bottom: 0;
   margin: 1em;
   background: rgb(218, 193, 9);
   text-shadow: 1px 1px 5px rgb(12, 9, 9);
   box-shadow: 0 0 30px rgb(3, 3, 3), inset 0 0 4px 1px black;
   color: rgb(229, 232, 79);
   border: 2px solid white;
   border-radius: 30px;
   font-size: 1.4em;
   cursor: pointer;
   transition: all 0.3s;
}
.reset:hover {
  -webkit-transition: 0.8s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px #888888;
  box-shadow: 1px 4px 10px rgba(102, 4, 4, 0.535),
    1px 3px 10px rgba(0, 0, 0, 0.535), 1px 1px 3px rgba(255, 255, 255, 0.521),
    -1px 1px 3px #070101, inset 0 1px 5px 3px rgba(24, 2, 2, 0.87),
    inset 0 0 2px 1px rgba(199, 8, 8, 0.87);
}

.fade-in {
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 3.5s;
  -moz-animation: fadeIn ease 3.5s;
  -o-animation: fadeIn ease 3.5s;
  -ms-animation: fadeIn ease 3.5s;
}
@-webkit-keyframes fadeIn-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* |||||||||||||||||||||||||||||||||||| */

td {
  box-shadow: inset 1px 2px 10px 3px rgb(0, 0, 0);
  border-radius: 50%;
  background: #151c88;
  border: 2px solid rgb(253, 251, 251);
  padding: 0px;
}

@media screen and (min-width: 750px) {
  table {
    background: #0a2097;
    text-align: center;
    position: relative;
    max-height: 55vh;
    min-width: 40vw;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .reset {
    font-size: 2em;
  }
  table {
    background: #08155e;
    text-align: center;
    position: relative;
    max-height: 45vh;
    min-width: 80vw;
    margin: auto;
  }
  .player-turn {
   font-size: 2.5em;
}
}

@media screen and (max-width: 300px) {
  table {
    padding: 1px;
  }
  td {
    box-shadow: inset 1px 2px 4px 1px rgb(0, 0, 0);
    border: 0.5px solid rgb(5, 32, 59);
  }
  .player-turn {
     font-size: 1.5em;
  }
}
